:root {
	--color-primary: #292336;
	--color-white: #FFFFFF;

	--container-max-width: 1440px;
--border-radius: 0.5rem;
}

body {
	color: var(--color-white);
		background-color: var(--color-primary);
	}

	.page__container {
		width: 100%;
		max-width: var(--container-max-width);
		margin: 0 auto;
		display: grid;
}
